@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(article: Article)

@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main(article.title) {
    @*article.translations.take(1)*@

    <div class="author">Last updated by : @(article.author) on @(article.date)</div>
    @article.translations.map { translation =>
        <div class="article">
            @Html(translation.head.body)
        </div>
    }

}
