@*
* Template to display list of Articles
*@
@(articleList: ArticleList)(implicit request: RequestHeader)

@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("Articles") {
    <ul>
        @articleList.article.map { article =>
            <li>
                <a href="@request.uri/@article.id">@Html(article.title)</a>
            </li>
        }
    </ul>
}
