@*
 * The main template used by all other templates and contains the 'theme' of the site
 *@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <body class="text-center">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="masthead mb-auto">
                <div class="inner">
                    <h3 class="masthead-brand"><a class="nav-link active" href="/">Elevio Demo</a></h3>
                    <nav class="nav nav-masthead justify-content-center">
                        <a class="nav-link xactive" href="@routes.HomeController.index()">Home</a>
                        <a class="nav-link" href="@routes.ArticleController.getArticles()">Articles</a>
                        <a class="nav-link" href="@routes.SearchArticleController.searchArticlesForm()">Search</a>
                        <!-- a class="nav-link" href="/categories">Categories</a -->
                    </nav>
                </div>
            </header>

            <main role="main" class="inner cover">
                <h1 class="cover-heading elevio-title">@title</h1>
                <p class="lead"></p>
                <div class="content">
                    @content
                </div>

            </main>

            <footer class="mastfoot mt-auto">
                <div class="inner">
                    <p>Demo by Oliver Maerz.</p>
                </div>
            </footer>
        </div>
    </body>
</html>
